<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1 class="mt-4">board List Page
            <span>
                <a th:href="@{/posts/mregister}">
                    <button type="button" class="btn btn-outline-primary">글쓰기</button>
                </a>
            </span>
        </h1>

        <table class ="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">Regdate</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dto : ${result.dtoList}" >
                    <th scope="row">
                        <a th:href="@{/posts/read(id = ${dto.id}, page= ${result.page},
                            type=${pageRequestDTO.type},
                            keyword = ${pageRequestDTO.keyword})}">
                        [[${dto.id}]]
                        </a>
                    </th>
                    <td>[[${dto.title}]]</td>
                    <td>[[${dto.writerNickname}]]</td>
                    <td>[[${#temporals.format(dto.regDate,'yyyy/MM/dd')}]]</td>
                </tr>
            </tbody>
        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item " th:if="${result.prev}">
                <a class="page-link" th:href="@{/posts/list(page= ${result.start -1},
                    type=${pageRequestDTO.type},
                    keyword = ${pageRequestDTO.keyword})}" tabindex="-1">Previous
                </a>
            </li>
            <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/posts/list(page = ${page},
                    type=${pageRequestDTO.type},
                    keyword = ${pageRequestDTO.keyword})}"> [[${page}]]
                </a>
            </li>
            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/posts/list(page=${result.end+1},
                    type=${pageRequestDTO.type},
                    keyword = ${pageRequestDTO.keyword})}">Next</a>
            </li>
        </ul>


    </th:block>
</th:block>
